[package]
name = "real_rusty_gam"
version = "0.1.0"
edition = "2024"

[dependencies]
argmin = { version = "0.11.0" }
argmin-math = { version = "0.5.1" }
ndarray = { version = "0.17.0", features = ["blas"] }
ndarray-linalg = { version = "0.17.0" }
polars = { version = "0.49.1", features = ["ndarray", "lazy", "strings", "dtype-categorical"] }
rand_distr = { version = "0.5.1" }
thiserror = { version = "2.0.17" }