[package]
name = "gamlss_rs"
version = "0.1.0"
edition = "2024"

[dependencies]
argmin = { version = "0.11.0"}
argmin-math = { version = "0.5.1", features = ["ndarray_v0_16"] }
ndarray = { version = "0.16" }
ndarray-linalg = { version = "0.17", features = ["openblas-system"] }
polars = { version = "0.49.0", features = ["ndarray", "lazy", "strings", "dtype-categorical"] }
rand = { version = "0.9.2" }
rand_distr = { version = "0.5.1" }
statrs = { version = "0.18.0" }
thiserror = { version = "2.0.18" }